* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: calc(100vw - (100vw - 100%));
  height: calc(100vh - (100vh - 100%));
}

strong {
  margin: 10px auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: #0000;
}

li {
  list-style: none;
}
